.currentweather__figure{
    height: 10em;
    margin-top: 2%;
  }
 .currentweather{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
  .currentweather__figcaption--caption-status{
    color: white;
  }
  .currentweather__figcaption--caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 35%;
    padding-right: 35%;
  }
@media only screen and (max-width: 600px) {
  .currentweather__figure{
    height: 5em;
    margin:0;
    margin-top: 2%;
  }
  .currentweather__figcaption--caption{
    padding-left: 20%;
    padding-right: 20%;
  }
  .currentweather{
    margin: 0;
  }
}