body{
  margin: 0 auto;
}
.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  background-color: #9ccef3;
  font-family:"Raleway", sans-serif;
}

header{
  background-color: #769edb;
  padding: 1%;
}
input{
  border: none;
  background-color: inherit;
  color: white;
  width: 25%;
}
::placeholder {
  color: white;
  font-family: "Raleway", sans-serif;
}
button{
  background-color: #5879c8;
  border: none;
  padding: 1%;
}
figure{
  height: 10em;
  margin-top: 2%;
}
.current-weather{
  display: flex;
  justify-content: center;
}
figcaption{
  display: flex;
  flex-direction: column;
}
.status{
  color: white;
}
span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 40%;
  padding-right: 40%;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
li{
  list-style: none;
}
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 600px) {
  .app{
    font-size: small;
  }
  figure{
    height: 5em;
    margin:0;
    margin-top: 2%;
  }
  span{
    padding-left: 20%;
    padding-right: 20%;
  }
  .current-weather{
    margin: 0;
  }
  ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  li img{
    height: 10%;
    width: 10%;
  }
}